/*===================== REUSABLE  CSS AREA START =====================*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Plus Jakarta Sans", sans-serif; font-family: "Inter", sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Plus Jakarta Sans", sans-serif;

}
:root{
  --textWhite: #fff;
  --textBlack: #000000;

  /* font-size */
  --f14 : 14px;
  --f16 : 16px;
  --f18 : 18px;
  --f20 : 20px;
  --f24 : 24px;
  --f32 : 32px;

}

ul,ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.title {
  margin-bottom: 1.25rem;
}

button,
input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

}
h1 {
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.btns {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  overflow: hidden !important;
}

.container,
.container-lg,
.container-md,
.container-sm, 
.container-xl,
.container-xxl {
  max-width: 1633px;
  margin: 0 auto;
}
/*===================== REUSABLE CSS AREA END =====================*/

/*===================== OFFCANVAS CSS AREA START =====================*/
.menu-close {
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 18px;
  cursor: pointer;
  transition: 0.4s;
  border: 1px solid #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offcanvas__mail img {
  width: 18px;
}

.offcanvas__mail a {
  color: #fff;
}

.offcanvas__mail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.offcanvas__phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.offcanvas__phone span {
  color: #fff;
  transform: rotate(93deg);
}

.offcanvas__phone a {
  color: #fff;
  font-size: 18px;
}

.offcanvas__social a {
  color: #fff;
  font-size: 19px;
}

.offcanvas__social {
  display: flex;
  align-items: center;
  gap: 8px;
}

.offcanvas__contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 22px;
  margin-bottom: 20px;
}

.menu-close:hover {
  color: #000;
  background: #fff;
}

.offcanvas-area {
  position: fixed;
  left: -100%;
  height: 100%;
  width: 318px;
  background: var(--textBlack);
  z-index: 999;
  padding-top: 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
  top: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.offcanvas-area.active {
  left: 0;
  visibility: visible;
}

.offcanvas-area .main-menu ul li a {
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  padding: 16px 22px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.offcanvas-area .main-menu ul li a:hover {
  color: #000 !important;
  background: #fff;
}
.offcanvas-area .main-menu ul li:first-child a {
  border-top: 1px solid #fff;
}

.offcanvas-area .main-menu ul li a:hover,
.offcanvas-area .main-menu ul li a[aria-expanded="true"] {
  color: #d5d5d5;
}

.offcanvas-menu .main-menu ul {
  display: block;
  padding-left: 0;
  margin-bottom: 35px;
  list-style: none;
}

.offcanvas-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 99;
}

.offcanvas-overlay.active {
  opacity: 0.4;
  visibility: visible;
}

.menu-open {
  font-size: 27px;
  color: #e9ae26;
  cursor: pointer;
  position: relative;
  top: 2px;
  margin-left: 20px;
  margin-right: 40px;
}

.offcanvas-menu .common-btn {
  font-size: 17px;
  padding: 9px 30px;
  border-radius: 12px;
}

.offcanvas-area::-webkit-scrollbar {
  display: none;
}
.offcanvas-menu {
  margin-top: 100px;
}

.offcanvas__contact ul li:first-child a {
  border-top: none !important;
}

.offcanvas__contact ul li a {
  padding: 6px 22px !important;
  border-bottom: none !important;
}
/*===================== OFFCANVAS CSS AREA END =====================*/

/*===================== header CSS AREA start =====================*/
.logo a img {
  width: auto;
}

.header__wrap {
  align-items: center;
  justify-content: space-between;
  padding: 22px 0px 16px;
}

.header__nav {
  align-items: center;
  gap: 45px;
  flex-shrink: 0;
}

.logo {}

.logo a {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    font-family: "Inter", sans-serif;
}

.logo a span {
    display: block;
}

.header__nav ul {
  align-items: center;
  gap: 45px;
  justify-content: end;
}

.header__nav ul li a {
  color: var(--textBlack);
  font-size: var(--f20);
  font-weight: 500;
}

.header__nav ul li a.active {
    font-weight: 700;
}

.francal a {
  color: var(--textBlack);
  font-size: 20px;
  font-weight: 200;
  text-decoration: underline;
}
.header__bar a {
  color: var(--textBlack);
  font-size: var(--f24);
}

.nice-select {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  padding: 0px !important;
  font-size: 20px;
  height: 35px;
}

.nice-select:hover {
  border-color: #000;
}

.nice-select:after {
  display: none;
}

.nice-select .list {
  right: 0px;
  left: auto;
}
/*===================== header CSS AREA END =====================*/

/*===================== hero CSS AREA start =====================*/
.hero__content span {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}

.hero__content {
  padding: 520px 15px 269px;
  color: var(--textWhite);
}

section.hero__area {
  margin-bottom: 75px;
}

.hero__wrap {
    background-size: cover;
    background-position: center;
}
/*===================== hero CSS AREA END =====================*/

/*===================== section2 CSS AREA start =====================*/
.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.section2__area {
  margin-bottom: 60px;
}
.img3 {
  margin-top: 60px;
}
/*===================== section2 CSS AREA END =====================*/

/*===================== section3 CSS AREA START =====================*/
.section3__card img {
  width: auto;
}

.section3__card {display: flex;flex-direction: column;align-items: center;gap: 9px;}

.section3__cards {
  padding: 10px 0px 40px;
}

section.section3__area {
  margin-bottom: 40px;
}
/*===================== section3 CSS AREA END =====================*/

/*===================== footer CSS AREA START =====================*/
.footer__content {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 25px;
  padding: 32px 32px 15px;
}

.footer__logo,.footer__list {
  flex-basis: 230px;
}

.footer__list ul {
  flex-direction: column;
  margin-top: 28px;
  gap: 12px;
}

.footer__list ul li a {
  color: var(--textBlack);
}

.footer__list h6 {
  font-weight: bold;
}

footer#footer__area {
  border-top: 1px solid var(--Border-Default-Default, #D9D9D9);
}

.footer__logo ul {
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}
/*===================== footer CSS AREA END =====================*/